<%- include('includes/head.html') %>
    <div class="aboutbox">
        <h1>Quienes somos</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, incidunt 
            nostrum recusandae deserunt beatae eveniet quos aliquid odit totam voluptates 
            quod ratione corporis magnam fugit ea, a sed laborum aperiam vel iste sapiente 
            doloribus! Aliquid cupiditate quidem at ab eos voluptatem. Maiores magni autem 
            dolore optio. Doloremque ipsum iure veritatis quam qui, officia, cumque ratione 
            atque similique illo, tenetur nostrum ducimus nam neque debitis eos! Enim 
            tenetur tempora eum reprehenderit id accusantium magni, impedit laborum? 
            Voluptatem, distinctio, consectetur pariatur quisquam incidunt ipsam minima 
            sapiente minus dignissimos non magni neque porro maiores beatae accusamus culpa 
            aliquid necessitatibus debitis numquam. Pariatur aliquam sint nemo perferendis 
            omnis dolorem voluptates sapiente quisquam atque delectus. Vel tenetur fugiat 
            officia magnam sequi ut beatae natus iusto itaque incidunt ducimus praesentium 
            molestias voluptatum, omnis repudiandae exercitationem sapiente quasi at voluptas. 
            Atque nostrum sunt dolor quas iusto, error impedit id eligendi omnis mollitia? Animi 
            deserunt molestias eius facere architecto nam repudiandae esse iusto inventore vero 
            ab reprehenderit quibusdam optio excepturi tempore ipsa, quos voluptatibus, nobis 
            aperiam odit, aliquid nemo laborum. Laboriosam dolorem non reiciendis adipisci 
            perferendis esse distinctio repellat suscipit sunt accusantium velit nisi, provident 
            minus facere est quo omnis mollitia quisquam explicabo iste quasi delectus aspernatur 
            nesciunt? Vel voluptate eos autem, beatae vero laborum sunt explicabo perspiciatis 
            quod esse obcaecati laboriosam illo architecto voluptatum dolores ab eum aliquid 
            nobis incidunt odit magnam sequi? Non ex et perspiciatis exercitationem reprehenderit 
            commodi dolorum recusandae vitae. Quae dignissimos iste maiores inventore. Rem fugiat 
            quam, tempora quis non iste quisquam, minima impedit officia quas est expedita ullam 
            eum rerum? Enim mollitia quam, non tenetur iure at accusantium, commodi accusamus nisi 
            libero ex magni reiciendis excepturi. Fugiat nihil culpa ipsum sunt omnis placeat ab 
            in corporis ducimus vero, veniam alias quaerat, excepturi perspiciatis tenetur. Nobis 
            consequatur dolorum quibusdam, distinctio quae qui omnis!
        </p>
    </div>
<%- include('includes/foot.html') %>