<%- include('includes/head.html') %>
    <div class = "databox">
        <form action = "" method = "">
            <h2>Contactenos</h2>
            <div>
                <input class = "textfield" autocomplete = "off" type = "text" placeholder = "E-mail">
            </div>
            <div>
                <textarea class = "textdesc" rows = "2" type = "text" placeholder = "Mensaje"></textarea>
            </div>
            <div>
                <button class = "formbutton" type = "submit">Enviar</button>
            </div>
        </form>
    </div>
<%- include('includes/foot.html') %>